.container{
    display: flex;
}
.box-1{
    height: 500px;
    width: 500px;
    margin: 50px;
    border: 5px solid black;
    background-color: red;
}
.box-2{
    @extend .box-1;
    background-color: green;
}
.box-3{
    @extend .box-1;
    background-color: yellow;
}