/* Header css code here */
header{
    background-color: red;
    color: black;
    nav{
        color: green;
        margin: 10px;
    }
    li{
        padding: 50px;
    }
    ul{
        background: red;
    }
}

